# =============================================================================
# SECRETS — never commit these
# =============================================================================
etc/ostree/auth.json
etc/rhc/.rhc_connect_credentials
